body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.ticketing-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticketing-container h2 {
  margin-bottom: 10px;
}

.ticketing-container label {
  display: block;
  margin-bottom: 5px;
}

.ticketing-container input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ticketing-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.guest-container {
  display: flex;
  flex-direction: column;
}
.guest-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketing-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.ticketing-container button:hover {
  background-color: #45a049;
}
